<!-- <mat-accordion >
  <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header
      (click)="getArticle()">
          <mat-panel-title>
                  {{title}}
          </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="article else spinroll">
        <p>{{article.blocks.body[0].bodyTextSummary}}</p>
        <a href="{{article.webUrl}}" target="blank">Read full news</a>
      </div>
      <ng-template #spinroll>
        <div class="spin">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
     </ng-template>
  </mat-expansion-panel> 
</mat-accordion> -->

<div class="accordion"
  (click)="getArticle()">
  <!-- (click)="test($event.currentTarget)" -->
  <button class="open_acc">{{title}}</button>
  <div class="content_of_acc" [ngClass]="{'is-open' : mark == true}" [style.maxHeight]="isCollapsed ? autoHeight +'px' : maxHeight " [@contentAnimation]>
    <div *ngIf="article  else spinroll " class="getHeight" id="_x{{index}}" >
      <span>{{article.blocks.body[0].bodyTextSummary}}</span>
      <a href="{{article.webUrl}}" target="blank">Read full news</a>
    </div>
    <ng-template #spinroll>
      <div class="spin">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
   </ng-template>
  </div>
</div>

