<div class="accordion">
  <button class="open_acc" [ngClass]="{'is-open' : mark == true}" (click)="getArticle()">{{title}}</button>
  <div class="content_of_acc"  [style.maxHeight]="isCollapsed ? autoHeight +'px' : maxHeight " [@contentAnimation]>
    <div *ngIf="article  else spinroll "  >
      <div class="getHeight " id="x{{index}}">
        <span>{{article.blocks.body[0].bodyTextSummary}}</span>
        <a href="{{article.webUrl}}" target="blank">Read full news</a>
      </div>
    </div>
    <ng-template #spinroll>
      <div class="spin">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
   </ng-template>
  </div>
</div>

